<a href="https://colab.research.google.com/github/ChristosBellos/MyMachineLearningRepository/blob/main/Basketball_Games_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**In my first project at Sports Analytics, I'm going to transform and analyze data I have gathered from Basketball-Reference website.**

**The data I have collected are some basic and advanced data, from all the Milwakee Bucks games during January of 2025 season.**

In [37]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
# read and store the csv file
df = pd.read_csv("combined.csv", sep=";", quotechar='"')

df.head(5)

  Starters;MP;FG;FGA;FG%;3P;3PA;3P%;FT;FTA;FT%;ORB;DRB;TRB;AST;STL;BLK;TOV;PF;PTS;GmSc;+/-;TS%;eFG%;3PAr;FTr;ORB%;DRB%;TRB%;AST%;STL%;BLK%;TOV%;USG%;ORtg;DRtg;BPM;Result
0  Damian Lillard;40:18:00;6;20;.300;4;13;.308;7;...
1  Giannis Antetokounmpo;37:06:00;12;24;.500;0;0;...
2  Khris Middleton;24:02:00;6;11;.545;0;3;.000;0;...
3  Brook Lopez;22:41;3;4;.750;0;1;.000;1;2;.500;1...
4  Andre Jackson Jr.;13:31;1;1;1.000;0;0;;0;0;;1;...

There was a mistake when combining different xls files and transforming them into csv files.

I will change the columns' separation with python code.

In [39]:
# read as a ONE-column file
raw = pd.read_csv("combined.csv", header=None)

# remove the surrounding quotes from the text
raw[0] = raw[0].str.strip('"')

# now split the text by semicolon into proper columns
df = raw[0].str.split(";", expand=True)

# Step 3: Make first row the header
df.columns = df.iloc[0]   # set row 0 as header
df = df[1:]               # remove row 0 from data

# Reset index
df = df.reset_index(drop=True)

# show first rows
df.head()

,Starters,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,BPM,Result
0,Damian Lillard,40:18:00,6,20,.300,4,13,.308,7,8,...,3.7,25.4,1.2,0.0,11.3,27.2,106,119,-0.3,L
1,Giannis Antetokounmpo,37:06:00,12,24,.500,0,0,,3,10,...,17.3,37.0,1.3,7.9,9.6,34.9,102,106,6.7,L
2,Khris Middleton,24:02:00,6,11,.545,0,3,.000,0,0,...,6.2,14.3,2.0,0.0,0.0,18.9,119,114,1.7,L
3,Brook Lopez,22:41,3,4,.750,0,1,.000,1,2,...,6.5,6.3,0.0,4.3,17.0,10.7,125,118,-1.3,L
4,Andre Jackson Jr.,13:31,1,1,1.000,0,0,,0,0,...,7.3,0.0,0.0,0.0,50.0,6.1,101,121,-7.7,L

**Now the dataset with all the players' stats, for each game, during the month of January 2025, is how I want it to be.**

**I want to check how much and in what way some players affected the games' result in that period and use plots to create a visualization.**

In [40]:
# let's do some checks

# show stats of a player
df[df["Starters"] == "Giannis Antetokounmpo"].head(5)

,Starters,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,BPM,Result
1,Giannis Antetokounmpo,37:06:00,12,24,.500,0,0,,3,10,...,17.3,37.0,1.3,7.9,9.6,34.9,102,106,6.7,L
12,Giannis Antetokounmpo,36:14:00,13,17,.765,0,0,,8,14,...,23.1,30.8,0.0,0.0,0.0,28.6,158,111,14.7,W
28,Giannis Antetokounmpo,31:56:00,10,18,.556,0,0,,5,10,...,17.2,19.4,0.0,11.0,4.3,30.9,119,91,6.8,W
45,Giannis Antetokounmpo,35:00:00,12,22,.545,0,1,.000,12,15,...,20.0,6.7,0.0,2.2,12.3,41.8,113,122,1.3,L
58,Giannis Antetokounmpo,36:37:00,16,23,.696,0,1,.000,3,10,...,25.6,29.6,2.6,0.0,6.8,36.5,125,97,9.9,W

In [41]:
for x in df.columns:
  print("Total not null values of ", x, ": ", df[x].isna().count())
  print("Total empty values of ", x, ": ", (df[x]=="").sum(), "\n")

Total not null values of  Starters :  229
Total empty values of  Starters :  48

Total not null values of  MP :  229
Total empty values of  MP :  48

Total not null values of  FG :  229
Total empty values of  FG :  48

Total not null values of  FGA :  229
Total empty values of  FGA :  48

Total not null values of  FG% :  229
Total empty values of  FG% :  64

Total not null values of  3P :  229
Total empty values of  3P :  48

Total not null values of  3PA :  229
Total empty values of  3PA :  48

Total not null values of  3P% :  229
Total empty values of  3P% :  91

Total not null values of  FT :  229
Total empty values of  FT :  48

Total not null values of  FTA :  229
Total empty values of  FTA :  48

Total not null values of  FT% :  229
Total empty values of  FT% :  157

Total not null values of  ORB :  229
Total empty values of  ORB :  48

Total not null values of  DRB :  229
Total empty values of  DRB :  48

Total not null values of  TRB :  229
Total empty values of  TRB :  48

Total not null values of  AST :  229
Total empty values of  AST :  48

Total not null values of  STL :  229
Total empty values of  STL :  48

Total not null values of  BLK :  229
Total empty values of  BLK :  48

Total not null values of  TOV :  229
Total empty values of  TOV :  48

Total not null values of  PF :  229
Total empty values of  PF :  48

Total not null values of  PTS :  229
Total empty values of  PTS :  48

Total not null values of  GmSc :  229
Total empty values of  GmSc :  48

Total not null values of  +/- :  229
Total empty values of  +/- :  48

Total not null values of  TS% :  229
Total empty values of  TS% :  63

Total not null values of  eFG% :  229
Total empty values of  eFG% :  64

Total not null values of  3PAr :  229
Total empty values of  3PAr :  64

Total not null values of  FTr :  229
Total empty values of  FTr :  64

Total not null values of  ORB% :  229
Total empty values of  ORB% :  49

Total not null values of  DRB% :  229
Total empty values of  DRB% :  49

Total not null values of  TRB% :  229
Total empty values of  TRB% :  49

Total not null values of  AST% :  229
Total empty values of  AST% :  49

Total not null values of  STL% :  229
Total empty values of  STL% :  49

Total not null values of  BLK% :  229
Total empty values of  BLK% :  49

Total not null values of  TOV% :  229
Total empty values of  TOV% :  59

Total not null values of  USG% :  229
Total empty values of  USG% :  49

Total not null values of  ORtg :  229
Total empty values of  ORtg :  49

Total not null values of  DRtg :  229
Total empty values of  DRtg :  49

Total not null values of  BPM :  229
Total empty values of  BPM :  49

Total not null values of  Result :  229
Total empty values of  Result :  49

**We can see that there are no null values in our dataset, but there are many empty values, including some empty rows.**

In [42]:
(df == "").all(axis=1).sum()

np.int64(48)

In [43]:
# update our dataset, excluding empty rows
df_clean = df[~(df == "").all(axis=1)]

# confirmation
(df_clean == "").all(axis=1).sum()

np.int64(0)

In [44]:
df_clean.head(5)

,Starters,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,BPM,Result
0,Damian Lillard,40:18:00,6,20,.300,4,13,.308,7,8,...,3.7,25.4,1.2,0.0,11.3,27.2,106,119,-0.3,L
1,Giannis Antetokounmpo,37:06:00,12,24,.500,0,0,,3,10,...,17.3,37.0,1.3,7.9,9.6,34.9,102,106,6.7,L
2,Khris Middleton,24:02:00,6,11,.545,0,3,.000,0,0,...,6.2,14.3,2.0,0.0,0.0,18.9,119,114,1.7,L
3,Brook Lopez,22:41,3,4,.750,0,1,.000,1,2,...,6.5,6.3,0.0,4.3,17.0,10.7,125,118,-1.3,L
4,Andre Jackson Jr.,13:31,1,1,1.000,0,0,,0,0,...,7.3,0.0,0.0,0.0,50.0,6.1,101,121,-7.7,L

In [45]:
# There are no empty rows. Let's see how many empty cells are in each column
for x in df_clean.columns:
  print(x, " total empty values: ", (df_clean[x] == "").sum(), "\n")

Starters  total empty values:  0

MP  total empty values:  0

FG  total empty values:  0

FGA  total empty values:  0

FG%  total empty values:  16

3P  total empty values:  0

3PA  total empty values:  0

3P%  total empty values:  43

FT  total empty values:  0

FTA  total empty values:  0

FT%  total empty values:  109

ORB  total empty values:  0

DRB  total empty values:  0

TRB  total empty values:  0

AST  total empty values:  0

STL  total empty values:  0

BLK  total empty values:  0

TOV  total empty values:  0

PF  total empty values:  0

PTS  total empty values:  0

GmSc  total empty values:  0

+/-  total empty values:  0

TS%  total empty values:  15

eFG%  total empty values:  16

3PAr  total empty values:  16

FTr  total empty values:  16

ORB%  total empty values:  1

DRB%  total empty values:  1

TRB%  total empty values:  1

AST%  total empty values:  1

STL%  total empty values:  1

BLK%  total empty values:  1

TOV%  total empty values:  11

USG%  total empty values:  1

ORtg  total empty values:  1

DRtg  total empty values:  1

BPM  total empty values:  1

Result  total empty values:  1

In [46]:
# replace all the empty values with NaN
df_clean = df_clean.replace("", np.nan)

for x in df_clean.columns:
  print(x, " total empty values: ", (df_clean[x] == "").sum())

Starters  total empty values:  0
MP  total empty values:  0
FG  total empty values:  0
FGA  total empty values:  0
FG%  total empty values:  0
3P  total empty values:  0
3PA  total empty values:  0
3P%  total empty values:  0
FT  total empty values:  0
FTA  total empty values:  0
FT%  total empty values:  0
ORB  total empty values:  0
DRB  total empty values:  0
TRB  total empty values:  0
AST  total empty values:  0
STL  total empty values:  0
BLK  total empty values:  0
TOV  total empty values:  0
PF  total empty values:  0
PTS  total empty values:  0
GmSc  total empty values:  0
+/-  total empty values:  0
TS%  total empty values:  0
eFG%  total empty values:  0
3PAr  total empty values:  0
FTr  total empty values:  0
ORB%  total empty values:  0
DRB%  total empty values:  0
TRB%  total empty values:  0
AST%  total empty values:  0
STL%  total empty values:  0
BLK%  total empty values:  0
TOV%  total empty values:  0
USG%  total empty values:  0
ORtg  total empty values:  0
DRtg  total empty values:  0
BPM  total empty values:  0
Result  total empty values:  0

**The data have been transformed into proper form for processing and analyzing.**

In [47]:
df_clean.head(5)

,Starters,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,BPM,Result
0,Damian Lillard,40:18:00,6,20,.300,4,13,.308,7,8,...,3.7,25.4,1.2,0.0,11.3,27.2,106,119,-0.3,L
1,Giannis Antetokounmpo,37:06:00,12,24,.500,0,0,NaN,3,10,...,17.3,37.0,1.3,7.9,9.6,34.9,102,106,6.7,L
2,Khris Middleton,24:02:00,6,11,.545,0,3,.000,0,0,...,6.2,14.3,2.0,0.0,0.0,18.9,119,114,1.7,L
3,Brook Lopez,22:41,3,4,.750,0,1,.000,1,2,...,6.5,6.3,0.0,4.3,17.0,10.7,125,118,-1.3,L
4,Andre Jackson Jr.,13:31,1,1,1.000,0,0,NaN,0,0,...,7.3,0.0,0.0,0.0,50.0,6.1,101,121,-7.7,L

In [48]:
df.shape

(229, 38)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 38 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Starters  229 non-null    object
 1   MP        229 non-null    object
 2   FG        229 non-null    object
 3   FGA       229 non-null    object
 4   FG%       229 non-null    object
 5   3P        229 non-null    object
 6   3PA       229 non-null    object
 7   3P%       229 non-null    object
 8   FT        229 non-null    object
 9   FTA       229 non-null    object
 10  FT%       229 non-null    object
 11  ORB       229 non-null    object
 12  DRB       229 non-null    object
 13  TRB       229 non-null    object
 14  AST       229 non-null    object
 15  STL       229 non-null    object
 16  BLK       229 non-null    object
 17  TOV       229 non-null    object
 18  PF        229 non-null    object
 19  PTS       229 non-null    object
 20  GmSc      229 non-null    object
 21  +/-       229 non-null    object
 22  TS%       229 non-null    object
 23  eFG%      229 non-null    object
 24  3PAr      229 non-null    object
 25  FTr       229 non-null    object
 26  ORB%      229 non-null    object
 27  DRB%      229 non-null    object
 28  TRB%      229 non-null    object
 29  AST%      229 non-null    object
 30  STL%      229 non-null    object
 31  BLK%      229 non-null    object
 32  TOV%      229 non-null    object
 33  USG%      229 non-null    object
 34  ORtg      229 non-null    object
 35  DRtg      229 non-null    object
 36  BPM       229 non-null    object
 37  Result    229 non-null    object
dtypes: object(38)
memory usage: 68.1+ KB

**Because basketball stats have a unique representation, I will transform each arithmetic stat/number, that is represented as an object, into a float or integer value.**

In [50]:
df_clean["MP"].head(10)

0    40:18:00
1    37:06:00
2    24:02:00
3       22:41
4       13:31
5    28:11:00
6       21:02
7       18:41
8       18:16
9        9:33
Name: MP, dtype: object

In [51]:
# one-by-one change
# At first I thought to use df_clean["feature"].astype(type) command, but I
# saw that pd.to_numeric command is safer and handles errors better.
df_clean["FG"] = pd.to_numeric(df_clean["FG"], errors="coerce").astype(int)
df_clean["FGA"] = pd.to_numeric(df_clean["FGA"], errors="coerce").astype(int)
df_clean["FG%"] = pd.to_numeric(df_clean["FG%"], errors="coerce").astype(float)
df_clean["3P"] = pd.to_numeric(df_clean["3P"], errors="coerce").astype(int)
df_clean["3PA"] = pd.to_numeric(df_clean["3PA"], errors="coerce").astype(int)
df_clean["3P%"] = pd.to_numeric(df_clean["3P%"], errors="coerce").astype(float)
df_clean["FT"] = pd.to_numeric(df_clean["FT"], errors="coerce").astype(int)
df_clean["FTA"] = pd.to_numeric(df_clean["FTA"], errors="coerce").astype(int)
df_clean["FT%"] = pd.to_numeric(df_clean["FT%"], errors="coerce").astype(float)
df_clean["ORB"] = pd.to_numeric(df_clean["ORB"], errors="coerce").astype(int)
df_clean["DRB"] = pd.to_numeric(df_clean["DRB"], errors="coerce").astype(int)
df_clean["TRB"] = pd.to_numeric(df_clean["TRB"], errors="coerce").astype(int)
df_clean["AST"] = pd.to_numeric(df_clean["AST"], errors="coerce").astype(int)
df_clean["STL"] = pd.to_numeric(df_clean["STL"], errors="coerce").astype(int)
df_clean["BLK"] = pd.to_numeric(df_clean["BLK"], errors="coerce").astype(int)
df_clean["TOV"] = pd.to_numeric(df_clean["TOV"], errors="coerce").astype(int)
df_clean["PF"] = pd.to_numeric(df_clean["PF"], errors="coerce").astype(int)
df_clean["PTS"] = pd.to_numeric(df_clean["PTS"], errors="coerce").astype(int)
df_clean["GmSc"] = pd.to_numeric(df_clean["GmSc"], errors="coerce").astype(float)
df_clean["+/-"] = pd.to_numeric(df_clean["+/-"], errors="coerce").astype(int)

# for the special category of percentages being represented as .ddd, the commands
# will be:
df_clean["TS%"] = pd.to_numeric(df_clean["TS%"], errors="coerce").astype(float)
df_clean["TS%"] = df_clean["TS%"]*100

df_clean["eFG%"] = pd.to_numeric(df_clean["eFG%"], errors="coerce").astype(float)
df_clean["eFG%"] = df_clean["eFG%"]*100

df_clean["3PAr"] = pd.to_numeric(df_clean["3PAr"], errors="coerce").astype(float)
df_clean["3PAr"] = df_clean["3PAr"]*100

df_clean["FTr"] = pd.to_numeric(df_clean["FTr"], errors="coerce").astype(float)
df_clean["FTr"] = df_clean["FTr"]*100

# continue with the next percentage statlines
df_clean["ORB%"] = pd.to_numeric(df_clean["ORB%"], errors="coerce").astype(float)
df_clean["DRB%"] = pd.to_numeric(df_clean["DRB%"], errors="coerce").astype(float)
df_clean["TRB%"] = pd.to_numeric(df_clean["TRB%"], errors="coerce").astype(float)
df_clean["AST%"] = pd.to_numeric(df_clean["AST%"], errors="coerce").astype(float)
df_clean["STL%"] = pd.to_numeric(df_clean["STL%"], errors="coerce").astype(float)
df_clean["BLK%"] = pd.to_numeric(df_clean["BLK%"], errors="coerce").astype(float)
df_clean["TOV%"] = pd.to_numeric(df_clean["TOV%"], errors="coerce").astype(float)
df_clean["USG%"] = pd.to_numeric(df_clean["USG%"], errors="coerce").astype(float)
df_clean["BPM"] = pd.to_numeric(df_clean["BPM"], errors="coerce").astype(float)

# for "Minutes Played" feature transformation
# MP feature has two types of values, mm:ss and mm:ss:00. In order to transform
# both of these kind of values, we' re going to check first wether it has the
# first form or not.

In [52]:
df_clean["MP"].head(2)

0    40:18:00
1    37:06:00
Name: MP, dtype: object

In [68]:
df_clean["MP"] = df_clean["MP"].astype(str).str.strip()

def mp_to_minutes(x):
  if x=="" or x.lower() == "nan":
    return np.nan

  s = str(x).strip()
  parts = s.split(":")

  if len(parts)<2:
    return np.nan

  try:
    minutes = int(parts[0])
    seconds = int(parts[1])
    return minutes + seconds / 60
  except ValueError:
    return np.nan

df_clean["MP_new"] = df_clean["MP"].apply(mp_to_minutes)
df_clean["MP_new"].head(4)

0    40.300000
1    37.100000
2    24.033333
3    22.683333
Name: MP_new, dtype: float64

In [70]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 181 entries, 0 to 225
Data columns (total 39 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Starters  181 non-null    object
 1   MP        181 non-null    object
 2   FG        181 non-null    int64
 3   FGA       181 non-null    int64
 4   FG%       165 non-null    float64
 5   3P        181 non-null    int64
 6   3PA       181 non-null    int64
 7   3P%       138 non-null    float64
 8   FT        181 non-null    int64
 9   FTA       181 non-null    int64
 10  FT%       72 non-null     float64
 11  ORB       181 non-null    int64
 12  DRB       181 non-null    int64
 13  TRB       181 non-null    int64
 14  AST       181 non-null    int64
 15  STL       181 non-null    int64
 16  BLK       181 non-null    int64
 17  TOV       181 non-null    int64
 18  PF        181 non-null    int64
 19  PTS       181 non-null    int64
 20  GmSc      181 non-null    float64
 21  +/-       181 non-null    int64
 22  TS%       166 non-null    float64
 23  eFG%      165 non-null    float64
 24  3PAr      165 non-null    float64
 25  FTr       165 non-null    float64
 26  ORB%      180 non-null    float64
 27  DRB%      180 non-null    float64
 28  TRB%      180 non-null    float64
 29  AST%      180 non-null    float64
 30  STL%      180 non-null    float64
 31  BLK%      180 non-null    float64
 32  TOV%      170 non-null    float64
 33  USG%      180 non-null    float64
 34  ORtg      180 non-null    object
 35  DRtg      180 non-null    object
 36  BPM       180 non-null    float64
 37  Result    180 non-null    object
 38  MP_new    181 non-null    float64
dtypes: float64(18), int64(16), object(5)
memory usage: 56.6+ KB

In [71]:
df_clean = df_clean.drop(columns=["MP"])
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 181 entries, 0 to 225
Data columns (total 38 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Starters  181 non-null    object
 1   FG        181 non-null    int64
 2   FGA       181 non-null    int64
 3   FG%       165 non-null    float64
 4   3P        181 non-null    int64
 5   3PA       181 non-null    int64
 6   3P%       138 non-null    float64
 7   FT        181 non-null    int64
 8   FTA       181 non-null    int64
 9   FT%       72 non-null     float64
 10  ORB       181 non-null    int64
 11  DRB       181 non-null    int64
 12  TRB       181 non-null    int64
 13  AST       181 non-null    int64
 14  STL       181 non-null    int64
 15  BLK       181 non-null    int64
 16  TOV       181 non-null    int64
 17  PF        181 non-null    int64
 18  PTS       181 non-null    int64
 19  GmSc      181 non-null    float64
 20  +/-       181 non-null    int64
 21  TS%       166 non-null    float64
 22  eFG%      165 non-null    float64
 23  3PAr      165 non-null    float64
 24  FTr       165 non-null    float64
 25  ORB%      180 non-null    float64
 26  DRB%      180 non-null    float64
 27  TRB%      180 non-null    float64
 28  AST%      180 non-null    float64
 29  STL%      180 non-null    float64
 30  BLK%      180 non-null    float64
 31  TOV%      170 non-null    float64
 32  USG%      180 non-null    float64
 33  ORtg      180 non-null    object
 34  DRtg      180 non-null    object
 35  BPM       180 non-null    float64
 36  Result    180 non-null    object
 37  MP_new    181 non-null    float64
dtypes: float64(18), int64(16), object(4)
memory usage: 55.1+ KB

In [72]:
df_clean["ORtg"] = pd.to_numeric(df_clean["ORtg"], errors="coerce").astype("Int64")
df_clean["DRtg"] = pd.to_numeric(df_clean["DRtg"], errors="coerce").astype("Int64")

In [73]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 181 entries, 0 to 225
Data columns (total 38 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Starters  181 non-null    object
 1   FG        181 non-null    int64
 2   FGA       181 non-null    int64
 3   FG%       165 non-null    float64
 4   3P        181 non-null    int64
 5   3PA       181 non-null    int64
 6   3P%       138 non-null    float64
 7   FT        181 non-null    int64
 8   FTA       181 non-null    int64
 9   FT%       72 non-null     float64
 10  ORB       181 non-null    int64
 11  DRB       181 non-null    int64
 12  TRB       181 non-null    int64
 13  AST       181 non-null    int64
 14  STL       181 non-null    int64
 15  BLK       181 non-null    int64
 16  TOV       181 non-null    int64
 17  PF        181 non-null    int64
 18  PTS       181 non-null    int64
 19  GmSc      181 non-null    float64
 20  +/-       181 non-null    int64
 21  TS%       166 non-null    float64
 22  eFG%      165 non-null    float64
 23  3PAr      165 non-null    float64
 24  FTr       165 non-null    float64
 25  ORB%      180 non-null    float64
 26  DRB%      180 non-null    float64
 27  TRB%      180 non-null    float64
 28  AST%      180 non-null    float64
 29  STL%      180 non-null    float64
 30  BLK%      180 non-null    float64
 31  TOV%      170 non-null    float64
 32  USG%      180 non-null    float64
 33  ORtg      180 non-null    Int64
 34  DRtg      180 non-null    Int64
 35  BPM       180 non-null    float64
 36  Result    180 non-null    object
 37  MP_new    181 non-null    float64
dtypes: Int64(2), float64(18), int64(16), object(2)
memory usage: 55.5+ KB